/*Etiquetas*/
body {
    position: relative;
    padding: 0px;
    margin: 0px;
    font: normal 30px/2em 'Playfair Display', serif;
    text-align: center;
}

nav {
    height: 30px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    padding: 0px 13px;
}

nav ul li:first-child {
    cursor: pointer;
}

input {
    display: inline-block;
    width: 60%;
    height: 44px;
    border: 2px solid #000000;
    border-right: none;
    border-radius: 10px 0px 0px 10px;
    font: normal 1em/0.7em 'Playfair Display', serif;
    text-align: center;
    margin-left: 10px;
}

button {
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #FFFFFF;
    height: 50px;
    padding: 0px 0px 0px 0px;
    font: normal 1em/0.7em 'Playfair Display', serif;
    cursor: pointer;
}

.inputSend {
    display: inline-block;
    border-radius: 0px 10px 10px 0px;
    border-left: none;
    font-size: 25px;
}

/*Clases*/
.pass {
    background-color: #61ea61;
}

.fail {
    background-color: #e83e3e;
}

.btn-tiny {
    width: 40px;
}

.btn-big {
    width: 200px;
    display: block;
    margin: 0px auto;
}

/*Elementos*/
.popUp {
/*    display: none;*/
    position: fixed;
    z-index: 1;
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popUp-content {
    display: flex;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    font-size: 0.8em;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#words {
    height: 150px;
}

#words button {
    /*position: absolute;
    z-index: 1;
    margin-left: -400px;*/
    display: inline-block;
}


#words input {
    /*position: absolute;
    z-index: 1;
    margin-left: -650px;
    margin-top: 12px;*/
    display: inline-block;
}

#info div {
    display: inline-block;
    margin: 0px 40px;
}

#hiddenWords {
    position: relative;
    z-index: 0;
    display: inline-block;
    width: 600px;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
}

.alphabet {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.heart {
    color: #9a0404;
}