body {
    padding: 0px;
    margin: 0px;
    font: normal 30px/2em 'Playfair Display', serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
    border: 2px solid #000000;
    width: 40px;
    margin: 10px;
    cursor: pointer;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
}

.alphabet {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}